* {
    margin: 0;
    padding: 0;
    
}


.box {

    height: 150px;
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    background-color: #d3eaff;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: 10x;

}


.caixa1 {
    height: 150px;
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    background-color: #d3eaff;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: 10x;
}


.caixa2 {
    box-sizing: border-box; 
    height: 150px;
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    background-color: #d3eaff;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-left: 10x;
}